.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.weather-app {
  max-width: 500px;
  margin: 60px auto;
  position: relative;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  border-color: rgba(161, 161, 161, 0.336);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(39, 39, 39);
}
h1 {
  text-align: center;
}
h2 {
  font-size: 40px;
}
form {
  display: inline-block;
  text-align: center;
  margin-left: 65px;
}
.search {
  padding: 10px 50px;
  border-radius: 4px;
  border: 1px solid;
  color: rgba(161, 161, 161, 0.336);
}

.form .btn {
  display: inline-block;
  margin: 10px;
  background-color: #0d6efd;
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
  color: white;
}

.City h1 {
  font-weight: 550;
}

.icon {
  font-size: 50px;
  margin-top: 5px;
}

.part-2 {
  position: absolute;
  bottom: 200px;
  right: 60px;
  display: block;
}

strong {
  font-size: 60px;
  font-weight: bold;
  color: rgb(33, 33, 33);
  margin-left: 1px;
  font-weight: 400;
  margin-left: 10px;
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
}

.units {
  opacity: 80%;
  margin-bottom: 100px;
  text-decoration: none;
  color: black;
}
.temperature {
  margin-bottom: 50px;
}

.footer a {
  text-align: center;
  color: #0d6efd;
  text-decoration: none;
  color: rgb(33, 33, 33);
  font-size: 25px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -36px;
  left: -20px;
  margin-top: 20px;
  opacity: 80%;
}
